{include file="public/head" /}







<div class="tpl-page-container tpl-page-header-fixed">


    {include file="public/left" /}
        <div class="tpl-content-wrapper">
            <div class="tpl-content-page-title">
                Amaze UI 表单
            </div>
            <ol class="am-breadcrumb">
                <li><a href="#" class="am-icon-home">首页</a></li>
                <li><a href="#">表单</a></li>
                <li class="am-active">Amaze UI 表单</li>
            </ol>
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span> 表单
                    </div>
                    <div class="tpl-portlet-input tpl-fz-ml">
                        <div class="portlet-input input-small input-inline">
                            <div class="input-icon right">
                                <i class="am-icon-search"></i>
                                <input type="text" class="form-control form-control-solid" placeholder="搜索..."> </div>
                        </div>
                    </div>


                </div>
                <div class="tpl-block ">

                    <div class="am-g tpl-amazeui-form">


                        <div class="am-u-sm-12 am-u-md-9">
                            <form class="am-form am-form-horizontal" method="post" action="{:url('admin/AuthGroup/edit')}">
                                <input type="hidden" value="{$res['id']}" name="id">
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">用户组名称</label>
                                    <div class="am-u-sm-9">
                                        <input type="text" id="user-name" placeholder="用户组名称" name="title" value="{$res['title']}">
                                        <small></small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="username" class="col-sm-2 control-label no-padding-right"></label>
                                    <div class="col-sm-6">
                                        <table class="table table-hover">
                                            <thead class="bordered-darkorange">
                                            <tr>
                                                <th>
                                                    配置权限
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                              {volist id="list" name="list"}
                                              <tr>
                                                  <td>
                                                      <?php echo str_repeat("&nbsp;",$list['level']*3);?>
                                                      <input name="rules[]" <?php $str = explode(",",$res['rules']);if(in_array($list["id"],$str)){echo 'checked = "checked"';} ?>value="{$list.id}" dataid="id-{$list.dataid}" class="inverted checkbox-parent {if condition="$list['level'] neq 0"} checkbox-child {/if} " type="checkbox">
                                                      <span {if condition="$list['pid'] eq 0"}style="font-weight:bold;font-size:14px;" {/if}> {$list["name"]}</span>
                                                  </td>

                                              </tr>
                                             {/volist}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                        <button type="submit" class="am-btn am-btn-primary">保存修改</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
<script src="/static/admin/assets/style/jquery_002.js"></script>
<script src="/static/admin/assets/style/bootstrap.js"></script>
<script src="/static/admin/assets/style/jquery.js"></script>
<!--Beyond Scripts-->
<script src="/static/admin/assets/style/beyond.js"></script>
<script src="/static/admin/assets/js/jquery.min.js"></script>
<script src="/static/admin/assets/js/amazeui.min.js"></script>
<script src="/static/admin/assets/js/iscroll.js"></script>
<script src="/static/admin/assets/js/app.js"></script>
<script type="text/javascript">
    $('input.checkbox-parent').on('change', function () {
        var dataid = $(this).attr("dataid");
        $('input[dataid^=' + dataid + ']').prop('checked', $(this).is(':checked'));
    });
    $('input.checkbox-child').on("change",function(){
        var dataid = $(this).attr("dataid");
        dataid = dataid.substring(0,dataid.lastIndexOf("-"));
        var parent = $("input[dataid="+dataid+"]");
        if($(this).is(":checked")){
            parent.prop("checked",true);
            if(dataid.lastIndexOf("-")!="2"){
                dataid = dataid.substring(0,lastIndexOf("-"));
                parent = $("input[dataid="+dataid+"]");
                parent.prop(":checked","true");
            }
        }else{
            //父级
            if ($('input[dataid^=' + dataid + '-]:checked').length == 0) {
                //console.log('input[dataid^=' + dataid + '-]');
                parent.prop('checked', false);
                //循环到顶级
                while (dataid.lastIndexOf("-") != 2) {
                    dataid = dataid.substring(0, dataid.lastIndexOf("-"));
                    parent = $('input[dataid=' + dataid + ']');
                    if ($('input[dataid^=' + dataid + '-]:checked').length == 0) {
                        parent.prop('checked', false);
                    }
                }
            }
        }
    });
</script>
</body>

</html>
